body{
background: rgba(26, 138, 50, 0.9);
}
.w, #gamers div{
    cursor: pointer;
}

.w > div{
    border-radius: 5;
}

  .sideBox{
    width: 600px;
  }
.card{
    background:red;
  width: 130px;
height: 160px;
float: left;
margin: 10px;
position: relative;
  }
    .card:after{
     background: blue;
        width: 130px;
        height: 160px;
        content: "";
        display: block;
    }
  .ranks{
   position:absolute;
  left: 35%;
  top: 30%;
        font-size: 44pt;
  }
    .suits{
        position:absolute;
        left: 20px;
        top: 20px;
        font-size: 18pt;
    }

#c{
float: left;
}
#cardholder{
float: left;
}
#gamers{
    float: right;
    width: 200px;
    text-align: center;
  color: white;
  font-weight: bold;
}

#gamers > div {
background: rgba(0,0,0, 0.9);
padding: 5px;
border-radius: 10px;
}

#gamer{
    display: none;
    }

#gamer_photo, #apponent_photo{
    width: 100%;
    }

#pic,  #apponent_pic{
    position: relative;
}

#note, #apponent_note{
  top: 0;
  background: rgba(0, 0, 0, 0.8); 
  padding: 5px;
} 

#wrapperholder {
height: 500px;
position: absolute;
z-index: 10000;
background: rgba(0,0,0,0.9);
width: 100%;
margin: -8px;
}

#wrapper {
position: absolute;
top: 50%;
left: 50%;
}

#playoptions {
position: absolute;
left: -250px;
top: 50%;
width: 500px;
text-align: center;
}

#playoptions .play_option {
border: none;
padding: 10px;
background: blue;
color: white;
font-weight: bold;
font-size: large;
}

#playoptions .play_option:hover {
background: black;
}



