<html manifest="manifest.appcache" > 
<body>
<div id="wrapperholder"></div>
<div id="cardholder"></div>
<canvas id="c"></canvas>
<div id="gamers">
<input type="button" id="cleargame" onclick="restart()" value="Restart Game" />
    <div id="gamer">
        <p><span id="profilename">Player 1</span> (edit)</p>
        <span>Your points, <span id="profilepoints">0</span></span>
        <div id="pic">
            <img src="{{ url_for('static', filename='148871.jpg') }}" id="gamer_photo" />
            <p id="note">Click to change profile pic</p>
        </div>
        <p>Number of turns: <span id="turns">0</span></p>
    </div>
</div>
<audio controls id="audio" style="display: none">
    <source src="/static/sound/flip.mp3" type="audio/mp3">
    Your browser does not support the audio element.
</audio>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='memory.css') }}" />
<script>
    var b = document.getElementById('cardholder');
    var c = document.getElementsByTagName('canvas')[0];
    var a = c.getContext('2d');
    document.body.clientWidth; // fix bug in webkit: http://qfox.nl/weblog/218
</script>
<script src="{{ url_for('static', filename='memory.js') }}"></script>
</body>
</html>
